<table class="table table-hover">
  <thead>
      <tr>
          <th scope="col" style="width: 5%;">#</th>
          <th scope="col" style="width: 20%;">Subject</th>
          <th scope="col" style="width: 35%;">From</th> <!-- Set 60% width -->
          <th scope="col" style="width: 15%;">Date</th>
          <th scope="col" style="width: 15%;">Request Type</th>
          <th scope="col" style="width: 10%;">Confident Score</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of classifiedEmail; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ email.subject }}</td>
          <td>{{ email.from }}</td>
          <td>{{ email.date }}</td>
          <td>{{ email.classify_content }}</td>
          <td>
            {{ email.confidentscore }}
          </td>
      </tr>
    </tbody>
</table>