<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-sm btn-success" (click)="addRule()">
    <i class="bi bi-plus"></i> Add
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">#</th>
      <th scope="col" style="width: 20%;">Request Type</th>
      <th scope="col" style="width: 60%;">Description</th>
      <th scope="col" style="width: 15%;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let priority of priorities; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <!-- Editable Request Type -->
      <td>
        <span *ngIf="!priority.isEditing">{{ priority.request_type }}</span>
        <input
          *ngIf="priority.isEditing"
          type="text"
          class="form-control form-control-sm"
          [(ngModel)]="priority.request_type"
        />
      </td>
      <!-- Editable Description -->
      <td>
        <span *ngIf="!priority.isEditing">{{ priority.description || 'N/A' }}</span>
        <input
          *ngIf="priority.isEditing"
          type="text"
          class="form-control form-control-sm"
          [(ngModel)]="priority.description"
        />
      </td>
      <td>
        <!-- Edit Button -->
        <button
          class="btn btn-sm btn-primary me-2"
          *ngIf="!priority.isEditing"
          (click)="onEdit(priority)"
        >
          <i class="bi bi-pencil"></i>
        </button>
        <!-- Save Button -->
        <button
          class="btn btn-sm btn-success me-2"
          *ngIf="priority.isEditing"
          (click)="onSave(priority)"
        >
          <i class="bi bi-check"></i>
        </button>
        <!-- Cancel Button -->
        <button
          class="btn btn-sm btn-secondary me-2"
          *ngIf="priority.isEditing"
          (click)="onCancel(priority)"
        >
          <i class="bi bi-x"></i>
        </button>
        <!-- Delete Button -->
        <button
          class="btn btn-sm btn-danger"
          *ngIf="!priority.isEditing"
          (click)="deleteRule(priority.priority)"
        >
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>