
<div class="container mt-5">
  <h1>Email Classification</h1>
  
  <form (ngSubmit)="classifyContent()">
    <div>
      <label for="prompt">Prompt:</label>
      <textarea
        id="prompt"
        [(ngModel)]="prompt"
        name="prompt"
        rows="5"
        cols="50"
        required
      ></textarea>
    </div>
    <div>
      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Classifying...' : 'Classify' }}
      </button>
      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Classifying the Content...' : 'Classify Content' }}
      </button>
    </div>
  </form>
  <div *ngIf="response" class="response">
    <h2>Response:</h2>
    <p>{{ response }}</p>
  </div>
</div>

<router-outlet />
