// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              purple !default;
$brand-info:                 cyan !default;
$brand-success:              green !default;
$brand-warning:              orange !default;
$brand-danger:               red !default;
$brand-rose:                 pink !default;
$brand-inverse:              black !default;
